@page

<div class="row justify-content-md-center">
  <div class="col-8 p-5">

        <h3>Bem-vindo à [Nome da Sua Empresa] - Sabor em Cada Mordida!</h3>
        <p>Há mais de uma década, temos o prazer de servir os melhores hambúrgueres do Brasil, proporcionando aos nossos clientes uma experiência gastronômica única. Desde o nosso início, nossa paixão por hambúrgueres autênticos, ingredientes frescos e um toque de criatividade tem nos tornado um ponto de referência para os amantes da comida em todo o país.</p>

        <h5>A Nossa História</h5>
    <p>
       <img class="img-fluid float-end p-3"
           style="max-width: 40%" />
            Tudo começou com a visão de trazer algo especial para o cenário de fast food no Brasil. Fundada em [Ano de Fundação], nossa empresa rapidamente conquistou os corações e paladares de inúmeros clientes. Ao longo dos anos, aprimoramos nossas receitas, desenvolvemos combinações de sabores únicas e mantivemos o compromisso inabalável com a qualidade.
    </p>

        <h5>
            O Nosso Compromisso

        </h5> <p>Na [Nome da Sua Empresa], acreditamos que um ótimo hambúrguer começa com ingredientes de alta qualidade. Trabalhamos incansavelmente para garantir que cada hambúrguer seja uma obra-prima saborosa, preparada com carnes frescas, pães artesanais e ingredientes frescos, muitos dos quais são provenientes de fornecedores locais. Além disso, nossos chefs estão sempre inovando, trazendo novas criações para o nosso cardápio, para que você nunca se canse de explorar novos sabores.</p>
    <h5>Subtitle4</h5> <p>Text4</p>
    <h5>Subtitle5</h5> <p>Text5</p>
    <h5>Subtitle6</h5> <p>Text6</p>

    <p>Text7</p>
  </div>
</div>



